---
  title: Johdanto
---

<% partial 'partials/material_heading' do %>
  Yleistä kurssista
<% end %>

<p>
  Tämä materiaali on tarkoitettu Helsingin yliopiston tietojenkäsittelytieteen laitoksen kurssille Tietokantojen perusteet (5 op). Kurssilla oletetaan, että osallistuja tuntee Helsingin yliopiston kurssien Ohjelmoinnin perusteet (5 op) ja Ohjelmoinnin jatkokurssi (5 op) sisällön. Kurssilla käytetään ohjelmointikielenä em. kursseilla opittua Java-kieltä.
</p>


<% partial 'partials/material_sub_heading' do %>
  Osaamistavoitteet ja kurssin sisältö
<% end %>

<p>
  Tietokantojen perusteet -kurssilla tutustutaan tietokantojen suunnitteluun. Tämä kattaa ongelma-alueen (tai järjestelmän) tietosisällön mallintamisen (käsiteanalyysi, luokkakaaviot), tiedon esittämisen (luokkakaaviot, relaatiokaaviot), tiedon tallentamisen ja tiedon hakemisen (SQL-kieli). Kurssilla tutustutaan lisäksi tiedon tallentamiseen liittyvään lainsäädäntöön sekä henkilötietolakiin, tietokantojen historiaan, tietokantaa käyttävien sovellusten luomiseen sekä tietokannan toiminnan kannalta oleellisiin käsitteisiin kuten indeksit, transaktiot ja eheys. Kurssin pääpaino on relaatiotietokannoissa, mutta kurssilla tutustutaan pintapuolisesti myös muihin tietokantajärjestelmiin. Kurssiin kuuluu luentojen ja harjoitustehtävien lisäksi pienryhmissä tehtävä laajempi harjoitustyö, jossa suunnitellaan ja toteutetaan tietokantaa käyttävä web-sovellus.
</p>


<table class="table">
  <tr>
    <th>
      Viikko
    </th>
    <th>
      Osaamistavoitteet
    </th>
  </tr>
  <tr>
    <td>
      Esitiedot
    </td>
    <td>
      Tuntee olio-ohjelmoinnin peruskäsitteet kurssien Ohjelmoinnin perusteet (TKT-10002) ja Ohjelmoinnin jatkokurssi (TKT-10003) laaajuudessa.
    </td>
  </tr>
  <tr>
    <td>
      1
    </td>
    <td>
      Tuntee käsitteet digitalisaatio, tietokannanhallintajärjestelmä ja tietokanta. Ymmärtää tietokantojen roolin digitalisaatiossa. Tuntee ongelmia, joita tietokannanhallintajärjestelmät pyrkivät ratkaisemaan. Osaa luoda luokkakaavion annetun ohjelman lähdekoodista ja osaa luoda annetussa luokkakaaviossa kuvatut luokat. Ymmärtää luokkien, olioiden ja reaalimaailman käsitteiden suhteen. 
    </td>
  </tr>
  <tr>
    <td>
      2
    </td>
    <td>
      Osaa luoda SQL-kielellä yhden tietokantataulun sisältävän tietokannan, lisätä tietokantatauluun tietoa ja tehdä kyselyitä tietokantatauluun. Tuntee data access object (DAO) -suunnittelumallin. Osaa luoda ohjelman, joka kommunikoi tietokannanhallintajärjestelmän kanssa valmiin rajapinnan kautta. Tuntee käsitteen SQL-injektio. Tietää menetelmiä SQL-injektioon perustuvien hyökkäysten tekemiseen ja osaa toisaalta puolustautua niiltä.
    </td>
  </tr>
  <tr>
    <td>
      3
    </td>
    <td>
      Tuntee käsitteet pääavain ja viiteavain. Tuntee luokkakaavioissa esiintyvät assosiaatiot yhden suhde yhteen, yhden suhde moneen ja monen suhde moneen. Osaa luoda annetusta luokkakaaviosta relaatiokaavion, ja osaa muuntaa luokkakaavion assosiaatiot tarvittaessa tietokannalle sopivampaan muotoon. Osaa luoda SQL-kielellä useampia tietokantatauluja sisältävän tietokannan, lisätä tietokantaan tietoa, ja tehdä tietokantaan kyselyitä. Osaa hakea useammasta tietokantataulusta tietoa JOIN-kyselyiden avulla. Osaa luoda ohjelman, joka hyödyntää useamman tietokantataulun sisältävää tietokantaa.
    </td>
  </tr>
  <tr>
    <td>
      4
    </td>
    <td>
      Tuntee käsiteanalyysin askeleet. Osaa luoda ongelma-alueen kuvauksesta luokkakaavion sekä johtaa siitä relaatiokaavion. Tietää käsitteet tietokannan normalisointi ja tietokannan denormalisointi. Tuntee tietokannan normalisointiin liittyvät ensimmäisen, toisen ja kolmannen normaalimuodon. Osaa perustella noudattaako annettu tietokanta em. normaalimuotoja. Osaa esittää tietoa HTML-kielellä.
    </td>
  </tr>
  <tr>
    <td>
      5
    </td>
    <td>
      Osaa luoda yhtä tietokantataulua käyttävän ja muokkaavan web-sovelluksen, jota voi käyttää selaimella. Osaa kuvata tietokantaa käyttävän web-sovelluksen toimintaa sekvenssikaavion avulla. Osaa tehdä SQL-kielellä yhteenvetokyselyitä. 
    </td>
  </tr>
  <tr>
    <td>
      6
    </td>
    <td>
      Tuntee käsitteet indeksi, transaktio ja tietokannan eheys. Osaa luoda useampaa tietokantataulua käyttävän ja muokkaavan web-sovelluksen. Osaa siirtää web-sovelluksen verkkoon, missä se on kaikkien nähtävillä. 
    </td>
  </tr>
  <tr>
    <td>
      7
    </td>
    <td>
      Tuntee skaalautuvuuteen liittyvän CAP-teoreeman. Tuntee pinnallisesti muutamia NoSQL- ja NewSQL-tietokantoja. Tuntee uuden GDPR-lainsäädännön oleellisimmat vaikutukset tietokantojen suunnitteluun ja henkilötietojen tallennukseen.
    </td>
  </tr>
</table>

<% partial 'partials/material_sub_heading' do %>
  Työskentelytavat ja aikataulu
<% end %>

<p>
  Kurssin suorittaminen perustuu vahvasti itse- ja ryhmäopiskeluun. Opiskelun tueksi kurssilla on viikoittaiset harjoitusryhmät, joihin ilmoittaudutaan WebOodin kautta. Harjoitusryhmissä käydään sekä viikon tehtäviä läpi että harjoitellaan oleellisimpia kurssin asioita. Kurssilla on viikoittaiset luennot perjantaisin klo 12:15-14:00 Exactumin salissa B123 (ei luentoja 6.10. ja 13.10.).
</p>

<p>
  Harjoitusryhmät kokoontuvat Exactumin salissa B221 (mikroluokka).
</p>

<p>
  Ensimmäisen viikon harjoitusryhmien tehtävät tehdään paikan päällä. Seuraavien viikkojen harjoitusryhmiä varten tulee myös kotona tehtäviä tehtäviä. Kurssilla on lisäksi ryhmätyö, ryhmät muodostetaan kurssin kolmannella viikolla harjoitustilaisuuksissa.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Tukiväylät
<% end %>

<p>
  Kurssin tehtäviin voi tulla kysymään apua Pajasta. Pajan aikataulu ilmoitetaan myöhemmin.
</p>

<p>
  Verkon yli nopein tapa avun kysymiseen on kurssin keskustelukanava <code>#tikape</code>, johon pääsee helpointen kanavan Matrix-huoneen kautta: <a href="https://riot.im/app/#/room/#tikape:matrix.org"  target="_blank" rel="noopener">https://riot.im/app/#/room/#tikape:matrix.org</a>. Jos et pidä modernista teknologiasta, voit myös liityä huoneeseen Ircnetin kautta seuraamalla näitä ohjeita: <a href="http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/" target="_blank" rel="noopener">http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/</a> (valitse kanavaksi #tikape).
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Yhteistyö
<% end %>

<p>
  Hyvä yhteistyö keskittyy jokaisen osapuolen oppimiseen ja parantaa oppimistuloksia. Yhteistyö on kurssin tehtäviä pohtiessa sallittua ja suositeltavaa. 
</p>

<p>
  Kurssilla noudatetaan <a href="http://courses.cs.washington.edu/courses/cse100/99au/syllabus.htm#OTHER" target="_blank">Gilligan's Island -sääntöä</a>:
</p>

<p><em>

  <strong>The Gilligan's Island Rule</strong>: You are free to meet with fellow students(s) and discuss an assignment with them. Writing on a board or shared piece of paper during the meeting is acceptable; however, you should not take any written (electronic or otherwise) record away from the meeting. Everything that you derive from the collaboration should be in your head. After the meeting, engage in at least a half-hour of mind-numbing activity (like watching an episode of Gilligan's Island), before starting to work on the assignment. This will assure that you are able to reconstruct what you learned from the meeting by yourself.

</em></p>

<p>
  Jos teet tehtäviä yhdessä muiden kanssa, sinun tulee tehdä ja palauttaa omat ratkaisusi itse. Pidä yhteistyörupeaman jälkeen ainakin puolen tunnin tauko, jolloin teet jotain täysin muuta (esim. katsot jakson Gilligan's Islandia tai Salattuja elämiä), ja aloita omien tehtäviesi työstäminen vasta sitten. Kirjoita myös tehtävien palautuksen yhteyteen kommenteissa niiden kurssikavereidesi nimet, joiden kanssa teit yhteistyötä.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Opintovilpistä
<% end %>

<p>
  Kurssilla seurataan Helsingin yliopiston opintokäytäntöjä. Plagiarismi ja opintovilppi, eli esimerkiksi netissä olevien tai kaverilta saatujen vastausten kopiointi ja niiden palauttaminen omana työnä on kurssilla kiellettyä. 
</p>

<p>
  Todettu opintovilppi johtaa kurssisuorituksen hylkäämiseen ja toistuva opintovilppi voi johtaa opinto-oikeuden määräaikaiseen menettämiseen.  Lue lisää osoitteesta <a href="http://blogs.helsinki.fi/alakopsaa/opiskelijalle/"  target="_blank" >http://blogs.helsinki.fi/alakopsaa/opiskelijalle/</a>.
</p>

<% partial 'partials/material_sub_heading' do %>
  Arvostelu
<% end %>


<p>
  Kurssin arvostelu perustuu kurssikokeeseen, ennalta harjoitustilaisuuksia varten tehtäviin harjoitustehtäviin, läsnä tehtäviin harjoitustehtäviin, harjoitustyöhön, sekä läsnäoloon harjoitustilaisuuksissa. Kurssin aktiviteeteista voi saada yhteensä 100 pistettä.
</p>

<p>
  Kurssin aktiviteeteista saatavat pisteet jakautuvat seuraavasti:
</p>

<table class="table">
  <tr>
    <th>
      Osa
    </th>
    <th>
      Pistemäärä (korkeintaan)
    </th>
  </tr>
  <tr>
    <td>
      Kurssikoe
    </td>
    <td>
      36 pistettä
    </td>
  </tr>
  <tr>
    <td>
      Ennalta tehtävät harjoitustehtävät
    </td>
    <td>
      7 pistettä / viikko, 6 viikkoa, yht 42 pistettä
    </td>
  </tr>
  <tr>
    <td>
      Läsnäolo harjoitustilaisuuksissa
    </td>
    <td>
      1 piste / viikko, 7 viikkoa, yht 7 pistettä
    </td>
  </tr>
  <tr>
    <td>
      Harjoitustyö
    </td>
    <td>
      15 pistettä
    </td>
  </tr>
</table>


<p>
  Täydet pisteet viikoittaisista harjoitustehtävistä saa tekemällä niistä vähintään 90%. Aktiivisesta läsnäolosta luennoilla saa lisäksi puolikkaan pisteen luentokertaa kohden (korkeintaan 2 pistettä).
</p>

<p>
  Kurssin arvosana muodostuu perusteella seuraavasti.
</p>


<table class="table">
  <tr>
    <th>
      Pisteet
    </th>
    <th>
      Arvosana
    </th>
  </tr>
  <tr>
    <td>
      < 51
    </td>
    <td>
      Hylätty
    </td>
  </tr>
  <tr>
    <td>
      51-60
    </td>
    <td>
      1
    </td>
  </tr>
  <tr>
    <td>
      61-70
    </td>
    <td>
      2
    </td>
  </tr>
  <tr>
    <td>
      71-80
    </td>
    <td>
      3
    </td>
  </tr>
  <tr>
    <td>
      81-90
    </td>
    <td>
      4
    </td>
  </tr>
  <tr>
    <td>
      91-100
    </td>
    <td>
      5
    </td>
  </tr>
</table>



<% partial 'partials/material_heading' do %>
  Kurssin työvälineet ja tunnukset
<% end %>


(julkaistaan myöhemmin)




<% partial 'partials/material_heading' do %>
  Kurssimateriaalin tekijät ja lisenssi
<% end %>

<p>
  Kurssimateriaalin ovat tehneet Arto Hellas (né Vihavainen) ja Matti Luukkainen.
</p>

<p>
  Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida samanlaisella vapaalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty.
</p>


<p>
  <em>Kurssimateriaalia julkaistaan kurssin edetessä.</em>
</p>
