---
  title: Johdanto
---

<% partial 'partials/material_heading' do %>
  Yleistä kurssista
<% end %>

<p>
  Tämä materiaali on tarkoitettu Helsingin yliopiston tietojenkäsittelytieteen laitoksen kevään 2018 kurssille Tietokantojen perusteet (TKT10004, 5 op). Kurssilla oletetaan, että osallistuja tuntee Helsingin yliopiston kurssien Ohjelmoinnin perusteet (TKT10002, 5 op) ja Ohjelmoinnin jatkokurssi (TKT10003, 5 op) sisällön. Kurssilla käytetään ohjelmointikielenä em. kursseilla opittua Java-kieltä.
</p>

<p>
  Tietokantojen perusteet -kurssilla tutustutaan tietokantojen suunnitteluun. Tämä kattaa ongelma-alueen (tai järjestelmän) tietosisällön mallintamisen (käsiteanalyysi, luokkakaaviot), tiedon esittämisen (luokkakaaviot, relaatiokaaviot), tiedon tallentamisen ja tiedon hakemisen (SQL-kieli). Kurssilla tutustutaan lisäksi tiedon tallentamiseen liittyvään lainsäädäntöön sekä henkilötietolakiin, tietokantojen historiaan, tietokantaa käyttävien sovellusten luomiseen sekä tietokannan toiminnan kannalta oleellisiin käsitteisiin kuten indeksit, transaktiot ja eheys. Kurssin pääpaino on relaatiotietokannoissa, mutta kurssilla tutustutaan pintapuolisesti myös muihin tietokantajärjestelmiin. Kurssiin kuuluu luentojen ja harjoitustehtävien lisäksi pienryhmissä tehtävä laajempi harjoitustyö, jossa suunnitellaan ja toteutetaan tietokantaa käyttävä web-sovellus.
</p>

<p>
  <em>
    Alla kuvatut osaamistavoitteet päivittyvät kurssin edetessä..
  </em>
</p>

<table class="table">
  <tr>
    <th>
      Viikko
    </th>
    <th>
      Osaamistavoitteet
    </th>
  </tr>
  <tr>
    <td>
      Esitiedot
    </td>
    <td>
      Tuntee olio-ohjelmoinnin peruskäsitteet kurssien Ohjelmoinnin perusteet (TKT-10002) ja Ohjelmoinnin jatkokurssi (TKT-10003) laaajuudessa.
    </td>
  </tr>

  <tr>
    <td>
      1
    </td>
    <td>
      Tuntee käsitteet digitalisaatio, tietokannanhallintajärjestelmä ja tietokanta. Ymmärtää tietokantojen roolin digitalisaatiossa. Tuntee ongelmia, joita tietokannanhallintajärjestelmät pyrkivät ratkaisemaan. Ymmärtää että tietoa voidaan käsitellä ja esittää erilaisilla abstraktiotasoilla ja tuntee termeinä käsitteellisen abstraktiotason, rakenteellisen abstraktiotason sekä fyysisen abstraktiotason. Osaa määritellä luokkia ja yhteyksiä sisältävän UML-luokkakaavion. Osaa luoda luokkakaavion annetun ohjelman lähdekoodista ja osaa luoda annetussa luokkakaaviossa kuvatut luokat. Osaa käsitellä tietoa ohjelmallisesti. Tuntee käsiteanalyysin askeleet. Osaa luoda ongelma-alueen kuvauksesta luokkakaavion. 
    </td>
  </tr>
  
  <tr>
    <td>
      2
    </td>
    <td>
      Osaa luoda luokkakaaviosta relaatiokaavion ja osaa muuntaa luokkakaavion assosiaatiot tarvittaessa tietokannalle sopivampaan muotoon. Tuntee käsitteen oliokaavio. Tuntee käsitteet relaatio, relaatiomalli, pääavain ja viiteavain. Osaa luoda SQL-kielellä useampia tietokantatauluja sisältävän tietokannan, lisätä tietokantaan tietoa ja hakea tietokannasta tietoa. Tekee kyselyitä yhteen tietokantatauluun.
    </td>
  </tr>

  <tr>
    <td>
      3
    </td>
    <td>
      Osaa hakea useammasta tietokantataulusta tietoa JOIN-kyselyiden avulla. Osaa luoda ohjelman, joka kommunikoi tietokannanhallintajärjestelmän kanssa valmiin rajapinnan kautta. Osaa luoda ohjelman, joka hyödyntää useamman tietokantataulun sisältävää tietokantaa ja tuntee data access object (DAO) -suunnittelumallin. Osaa esittää tietoa JSON-kielellä. Osaa luoda web-sovelluksen, joka näyttää käyttäjälle tietokannasta haettua tietoa JSON-muodossa.
    </td>
  </tr>

  <tr>
    <td>
      4
    </td>
    <td>
      Osaa esittää tietoa XML ja HTML-kielellä. Osaa luoda yhtä tietokantataulua käyttävän ja muokkaavan web-sovelluksen, jota voi käyttää selaimella. Tuntee sekvenssikaaviot. Osaa luoda useampaa tietokantataulua käyttävän ja muokkaavan web-sovelluksen.
    </td>
  </tr>

  <tr>
    <td>
      5
    </td>
    <td>
      Osaa siirtää web-sovelluksen verkkoon, missä se on kaikkien nähtävillä. Tuntee käsitteen SQL-injektio. Tietää menetelmiä SQL-injektioon perustuvien hyökkäysten tekemiseen ja osaa toisaalta puolustautua niiltä. Tietää käsitteet tietokannan normalisointi ja tietokannan denormalisointi. Tuntee tietokannan normalisointiin liittyvät ensimmäisen, toisen ja kolmannen normaalimuodon. Osaa perustella noudattaako annettu tietokanta em. normaalimuotoja. 
    </td>
  </tr>

  <tr>
    <td>
      6
    </td>
    <td>
      Osaa tehdä SQL-kielellä yhteenvetokyselyitä. Tuntee käsitteet indeksi, transaktio ja tietokannan eheys. 
    </td>
  </tr>

  <tr>
    <td>
      7
    </td>
    <td>
      Tuntee pinnallisesti muutamia NoSQL- ja NewSQL-tietokantoja. Tuntee skaalautuvuuteen liittyvän CAP-teoreeman. Tuntee uuden GDPR-lainsäädännön oleellisimmat vaikutukset tietokantojen suunnitteluun ja henkilötietojen tallennukseen.
    </td>
  </tr>
  
</table>


<% partial 'partials/material_heading' do %>
  Kurssin suorittaminen ja aikataulu
<% end %>

<p>
  Kurssiin kuuluu viikoittaisia tehtäviä, viikoittaiset harjoitusryhmät, ryhmätyö sekä tentti.
</p>

<p>
  Kurssin suorittaminen perustuu vahvasti itse- ja ryhmäopiskeluun. Opiskelun tueksi kurssilla on viikoittaiset harjoitusryhmät, joihin ilmoittaudutaan WebOodin kautta. Harjoitusryhmissä käydään sekä viikon tehtäviä läpi että harjoitellaan oleellisimpia kurssin asioita. Kurssilla on viikoittaiset luennot tiistaisin klo 10:15-12:00 salissa <strong>A111</strong>. 
</p>

<p>
  Harjoitusryhmät kokoontuvat Exactumin salissa B221 (mikroluokka).
</p>

<ul>
  <li>Tiistai 12-14, Arto Hellas</li>
  <li>Tiistai 14-16, Terho Uotila</li>
  <li>Keskiviikko 12-14, Ville-Veikko Saari</li>
  <li>Keskiviikko 16-18, Terho Uotila</li>
  <li>Torstai 12-14, Dan Lindholm (vain ruotsin kieltä samanaikaisesti suorittaville)</li>
  <li>Perjantai 10-12, Dan Lindholm</li>
  <li>Perjantai 12-14, Ville-Veikko Saari</li>
</ul>

<p>
  <strong>
    Huom! Harjoitusryhmät kokoontuvat jo kurssin ensimmäisellä viikolla!
  </strong>
</p>

<p>
  Kurssin koe järjestetään keskiviikkona 7.3. klo 16:00 Exactumin saleissa A111 ja B123. Kurssin kokeeseen ei tarvitse ilmoittautua erikseen.
</p>

<p>
  Seuraavat uusinta- ja erilliskokeet järjestetään 18.4. klo 16:00 salissa B123 ja 8.6. klo 12:00 salissa CK112. Uusinta- ja erilliskokeisiin tulee ilmoittautua WebOodin kautta vähintään 10 päivää ennen tenttiä.
</p>

<% partial 'partials/material_sub_heading' do %>
  Arvostelu
<% end %>


<p>
  Kurssin arvostelu perustuu kurssikokeeseen, ennalta harjoitustilaisuuksia varten tehtäviin harjoitustehtäviin sekä ohjelmointitehtäviin, läsnä tehtäviin harjoitustehtäviin, harjoitustyöhön, sekä läsnäoloon harjoitustilaisuuksissa. Kurssin aktiviteeteista voi saada yhteensä 100 pistettä.
</p>

<p>
  Kurssin aktiviteeteista saatavat pisteet jakautuvat seuraavasti:
</p>

<table class="table">
  <tr>
    <th>
      Osa
    </th>
    <th>
      Pistemäärä (korkeintaan)
    </th>
  </tr>
  <tr>
    <td>
      Kurssikoe (7.3. klo 16:00 A111 / B123)
    </td>
    <td>
      36 pistettä
    </td>
  </tr>
  <tr>
    <td>
      Ennalta tehtävät harjoitustehtävät ja ohjelmointitehtävät
    </td>
    <td>
      7 pistettä / viikko, 6 viikkoa, yht 42 pistettä
    </td>
  </tr>
  <tr>
    <td>
      Läsnäolo harjoitustilaisuuksissa
    </td>
    <td>
      1 piste / viikko, 7 viikkoa, yht 7 pistettä
    </td>
  </tr>
  <tr>
    <td>
      Harjoitustyö
    </td>
    <td>
      15 pistettä (6 + 9 pistettä)
    </td>
  </tr>
</table>

<p>
  Täydet pisteet viikoittaisista harjoitustehtävistä saa tekemällä niistä vähintään 90%. Aktiivisesta läsnäolosta luennoilla saa lisäksi puolikkaan pisteen luentokertaa kohden (korkeintaan 2 pistettä). Kurssilla on lisäksi <strong>koeleikkuri</strong>, eli kurssin läpäisemiseksi tulee saada vähintään puolet kokeen pisteistä. Harjoitustilaisuudesta, johon on saapunut myöhässä, saa korkeintaan puolet läsnäolopisteistä.
</p>

<p>
  Kurssin arvosana muodostuu seuraavasti.
</p>

<table class="table">
  <tr>
    <th>
      Pisteet
    </th>
    <th>
      Arvosana
    </th>
  </tr>
  <tr>
    <td>
      < 51
    </td>
    <td>
      Hylätty
    </td>
  </tr>
  <tr>
    <td>
      51-60
    </td>
    <td>
      1
    </td>
  </tr>
  <tr>
    <td>
      61-70
    </td>
    <td>
      2
    </td>
  </tr>
  <tr>
    <td>
      71-80
    </td>
    <td>
      3
    </td>
  </tr>
  <tr>
    <td>
      81-90
    </td>
    <td>
      4
    </td>
  </tr>
  <tr>
    <td>
      91-100
    </td>
    <td>
      5
    </td>
  </tr>
</table>



<% partial 'partials/material_sub_heading' do %>
  Tehtävät
<% end %>

<p>
  Kurssin tehtäviä julkaistaan kurssin edetessä. Tehtävät tulee palauttaa viikoittain annettuun määräaikaan mennessä. Suunnittelu- ja käsitetehtävät palautetaan aina maanantaisin klo 23:59 mennessä. Ohjelmointitehtävät palautetaan perjantaisin klo 23:59 mennessä.
</p>


<table class="table">
  <tr>
    <th>
      Aihealue
    </th>
    <th>
      Suunnittelu- ja käsitetehtävät
    </th>
    <th>
      Ohjelmointitehtävät
    </th>
  </tr>
  <tr>
    <td>
      Osa 1
    </td>
    <td>
      <a href="https://docs.google.com/document/d/1BpBqLu3M-88sVvF9arQzY-TVtY0Rb2Li3aCXNElVAh0/edit?usp=sharing" target="_blank">22.1.2018 klo 23:59</a>
    </td>
    <td>
      26.1.2018 klo 23:59
    </td>
  </tr>

  <tr>
    <td>
      Osa 2
    </td>
    <td>
      <a href="https://docs.google.com/document/d/1YShC7cVpslvU18NJvJX0n60y29jskXtCMIeBtkT0ZqA/edit?usp=sharing" target="_blank">29.1.2018 klo 23:59</a>
    </td>
    <td>
      2.2.2018 klo 23:59
    </td>
  </tr>

  <tr>
    <td>
      Osa 3
    </td>
    <td>
      <a href="https://docs.google.com/document/d/1v_fwfHZWrDuH4cmC0uUuFVQXIbZNW5xwfNfnFbNmdhE/edit?usp=sharing" target="_blank">5.2.2018 klo 23:59</a>
    </td>
    <td>
      9.2.2018 klo 23:59
    </td>
  </tr>
  
  <tr>
    <td>
      Osa 4
    </td>
    <td>
      <a href="https://docs.google.com/document/d/1sTWvWk7AqzgxruiTFJsr29AU-4b8zcAgqAa7E7ourag/edit?usp=sharing" target="_blank">12.2.2018 klo 23:59</a>
    </td>
    <td>
      16.2.2018 klo 23:59
    </td>
  </tr>

  <tr>
    <td>
      Osa 5
    </td>
    <td>
      19.2.2018 klo 23:59
    </td>
    <td>
      23.2.2018 klo 23:59
    </td>
  </tr>

  <tr>
    <td>
      Osa 6
    </td>
    <td>
      26.2.2018 klo 23:59
    </td>
    <td>
      2.3.2018 klo 23:59
    </td>
  </tr>

  <tr>
    <td>
      Osa 7
    </td>
    <td>
      5.2.2018 klo 23:59
    </td>
    <td>
      9.3.2018 klo 23:59
    </td>
  </tr>
  
</table>

<p>
  Huomaathan, että viimeiset palautusajat määritellään suomen ajassa olevan tehtäväpalvelimen kellon mukaan. Mikäli palautuksesi on myöhässä kyseisestä kellosta, sitä ei hyväksytä. Sähköpostitse tapahtuvia tehtäväpalautuksia ei hyväksytä.
</p>

<p>
  Seitsemännen osan suunnittelu- ja käsitetehtävät sekä ohjelmointitehtävät vaikuttavat arvosteluun bonuspisteinä. Niillä voi paikata esimerkiksi väliin jäänyttä viikkoa. 
</p>

<p>
  Suunnittelu- ja käsitetehtävät sekä harjoitustöiden dokumentaatiot palautetaan sähköisessä muodossa kurssin Moodleen osoitteessa <a href="https://moodle.helsinki.fi/course/view.php?id=27755" target="_blank">https://moodle.helsinki.fi/course/view.php?id=27755</a>. Moodlen kurssiavain on "tietokannanhallintajärjestelmä".
</p>

<p>
  <strong>Tehtävänannot</strong>
</p>

<ul>
  <li>
    <a href="https://docs.google.com/document/d/1BpBqLu3M-88sVvF9arQzY-TVtY0Rb2Li3aCXNElVAh0/edit?usp=sharing" target="_blank">
      Osan 1 suunnittelu- ja käsitetehtävät (palautettava 22.1.2018 klo 23:59 mennessä)
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/document/d/1YShC7cVpslvU18NJvJX0n60y29jskXtCMIeBtkT0ZqA/edit?usp=sharing" target="_blank">
      Osan 2 suunnittelu- ja käsitetehtävät (palautettava 29.1.2018 klo 23:59 mennessä)
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/document/d/1v_fwfHZWrDuH4cmC0uUuFVQXIbZNW5xwfNfnFbNmdhE/edit?usp=sharing" target="_blank">
      Osan 3 suunnittelu- ja käsitetehtävät (palautettava 5.2.2018 klo 23:59 mennessä)
    </a>
  </li>

  <li>
    <a href="https://docs.google.com/document/d/1sTWvWk7AqzgxruiTFJsr29AU-4b8zcAgqAa7E7ourag/edit?usp=sharing" target="_blank">
      Osan 4 suunnittelu- ja käsitetehtävät (palautettava 12.2.2018 klo 23:59 mennessä)</a>
  </li>

</ul>

<p>
  Läsnätehtävät harjoitukset tehdään harjoitustilaisuuksissa. Läsnäolot kerätään harjoitustilaisuuksien aikana.
</p>

<ul>
  <li>
    <a href="https://docs.google.com/document/d/1stOkj4-geIJMahbE32LNYk6p31RyQGgwGwtnSx0YYds/edit?usp=sharing" target="_blank">
      Ensimmäisen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/document/d/1JLd4-t_EKknPoDRjLYUY1hO6VqO561zCY-Q1NwkB3Ok/edit?usp=sharing" target="_blank">
      Toisen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/document/d/1_izgsGMUJ8JMbJb2QPrtcH42ubVbUh26EU5ZQxjdCz0/edit?usp=sharing" target="_blank">
      Kolmannen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  
  <li>
    <a href="https://docs.google.com/document/d/1G5-g34WvWddM33sTypjBRUT2uJiyy9kWtGUj8IPba6I/edit?usp=sharing" target="_blank">
      Neljännen viikon läsnä tehtävät tehtävät
    </a>
  </li>
</ul>

<p>
  <strong>
    Ruotsinkielisessä ryhmässä käytettävät tehtävät
  </strong>
</p>


<p>
  Suunnittelu- ja käsitetehtävät.
</p>

<ul>
  <li>
    <a href="https://docs.google.com/document/d/1I27bP4VLyEx5snlamDlCnevbdgJSYB8cqER_b4tO3PQ/edit?usp=sharing" target="_blank">Osan 1 suunnittelu- ja käsitetehtävät (palautettava 22.1.2018 klo 23:59 mennessä)
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/document/d/11g0Fd1BkOCcJbVy7IRAFPKwStRsuq5MgtswZbEu00_0/edit?usp=sharing" target="_blank">Osan 2 suunnittelu- ja käsitetehtävät (palautettava 29.1.2018 klo 23:59 mennessä)
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/document/d/1gUKYASRVKjyQkZdvogoaq88SR9eYQ23MLGBmdmnJin4/edit?usp=sharing" target="_blank">Osan 3 suunnittelu- ja käsitetehtävät (palautettava 5.2.2018 klo 23:59 mennessä)
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/document/d/1Pli1Frz6K3sS3kg6m5VqZYFj2fXsVuRDDRyvg0rJySk/edit?usp=sharing" target="_blank">Osan 4 suunnittelu- ja käsitetehtävät (palautettava 12.2.2018 klo 23:59 mennessä)
    </a>
  </li>
  
</ul>

<p>
  Läsnätehtävät harjoitukset.
</p>

<ul>
  <li>
    <a href="https://docs.google.com/document/d/1GMPmQyQNQQKQdh_-QKR_2zYvpgFg7U1lyzjASE6RAmM/edit?usp=sharing" target="_blank">Ensimmäisen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/document/d/1FYOxKswcLU1NSuLJMbwrc8D2YGsU1833gwOThVMuj1k/edit?usp=sharing" target="_blank">Toisen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/document/d/1g21Z2VAu5KvNTInNG6tcZnV_Fx8jAeQIzXIuafj_yAQ/edit?usp=sharing" target="_blank">Kolmannen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/document/d/18ieQ7DsRu7YuhB5Br5eCdPI275FZGiBaYbnKK6cgZPg/edit?usp=sharing" target="_blank">Neljännen viikon läsnä tehtävät tehtävät
    </a>
  </li>

</ul>


<% partial 'partials/material_sub_heading' do %>
  Harjoitustyö
<% end %>

<p>
  Kurssiin kuuluu kahdessa osassa tehtävä harjoitustyö. Harjoitustyön ensimmäisessä osassa harjoitellaan käsiteanalyysiä sekä tietokannan luomista annetusta aihealueesta. Toisessa osassa toteutetaan hieman laajempi tietokantaa käyttävä web-sovellus, joka tulee verkkoon kaikkien nähtäville. Harjoitustöihin kuuluu myös muiden töiden vertaisarviointi.
</p>

<p>
  Harjoitustyöt tehdään joko ryhmässä (suositeltu) tai yksin. Harjoitustöiden ryhmät luodaan toisen viikon harjoitusryhmissä. Harjoitustöiden aikataulu on seuraava:
</p>

<ul>
  <li>
    Harjoitustyön ensimmäinen osa julkaistaan 23.1. ja palautetaan <em>8.2. klo 23:59 mennessä</em> -- huom! päivittynyt. Ensimmäisen osan vertaisarviot tulee tehdä 13.2. mennessä. Tehtävänanto löytyy osoitteesta <a href="https://docs.google.com/document/d/13TiU3GQ2jSmejMo0ftYiZFoanCDYQWHqCHwPZ52xm2c/edit?usp=sharing" target="_blank">https://docs.google.com/document/d/13TiU3GQ2jSmejMo0ftYiZFoanCDYQWHqCHwPZ52xm2c/edit?usp=sharing</a> (och <a href="https://docs.google.com/document/d/1EVtm-DjT0awG8Ls8By6OyrOBFeSopPhOWOt1pw5BFr8/edit?usp=sharing" target="_blank">samma på svenska</a>).
  </li>
  <li>
    Harjoitustyön toinen osa julkaistaan 6.2. ja palautetaan 27.2. mennessä. Toisen osan vertaisarviot tulee tehdä 6.3. mennessä. Tehtävänanto löytyy osoitteesta <a href="https://docs.google.com/document/d/1uAkZ8hTzLzXwwKlIt41MhTo7NvxVsutgWpnsvVjZWTw/edit?usp=sharing" target="_blank">https://docs.google.com/document/d/1uAkZ8hTzLzXwwKlIt41MhTo7NvxVsutgWpnsvVjZWTw/edit?usp=sharing</a> (och <a href="https://docs.google.com/document/d/1kUSX2y46_5AdC7urTqLHX48j7sZF7mQkfMk2iiBoOw8/edit?usp=sharing" target="_blank">samma på svenska</a>).
  </li>
</ul>


<% partial 'partials/material_sub_heading' do %>
  Tukiväylät
<% end %>

<p>
  Kurssilla järjestetään harjoitustilaisuuksien lisäksi kyselytuntimuotoisia pajoja, jotka kokoontuvat maanantaisin ja perjantaisin klo 14-16 salissa B221. Kyselytunteihin saa luonnollisesti myös tulla tekemään tehtäviä tai esimerkiksi ryhmätyötä, vaikkei varsinaista kysyttävää olisikaan.
</p>

<p>
  Verkon yli nopein tapa avun kysymiseen on kurssin keskustelukanava <code>#tikape</code>, johon pääsee helpointen kanavan Matrix-huoneen kautta: <a href="https://riot.im/app/#/room/#_ircnet_#tikape:irc.snt.utwente.nl"  target="_blank" rel="noopener">https://riot.im/app/#/room/#tikape:matrix.org</a>. Jos et pidä modernista teknologiasta, voit myös liityä huoneeseen Ircnetin kautta seuraamalla näitä ohjeita: <a href="http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/" target="_blank" rel="noopener">http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/</a> (valitse kanavaksi #tikape).
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Yhteistyö
<% end %>

<p>
  Hyvä yhteistyö keskittyy jokaisen osapuolen oppimiseen ja parantaa oppimistuloksia. Yhteistyö on kurssin tehtäviä pohtiessa sallittua ja suositeltavaa. 
</p>

<p>
  Kurssilla noudatetaan <a href="http://courses.cs.washington.edu/courses/cse100/99au/syllabus.htm#OTHER" target="_blank">Gilligan's Island -sääntöä</a>:
</p>

<p><em>

  <strong>The Gilligan's Island Rule</strong>: You are free to meet with fellow students(s) and discuss an assignment with them. Writing on a board or shared piece of paper during the meeting is acceptable; however, you should not take any written (electronic or otherwise) record away from the meeting. Everything that you derive from the collaboration should be in your head. After the meeting, engage in at least a half-hour of mind-numbing activity (like watching an episode of Gilligan's Island), before starting to work on the assignment. This will assure that you are able to reconstruct what you learned from the meeting by yourself.

</em></p>

<p>
  Jos teet tehtäviä yhdessä muiden kanssa, sinun tulee tehdä ja palauttaa omat ratkaisusi itse. Pidä yhteistyörupeaman jälkeen ainakin puolen tunnin tauko, jolloin teet jotain täysin muuta (esim. katsot jakson Gilligan's Islandia tai Salattuja elämiä), ja aloita omien tehtäviesi työstäminen vasta sitten. Kirjoita myös tehtävien palautuksen yhteyteen kommenteissa niiden kurssikavereidesi nimet, joiden kanssa teit yhteistyötä.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Opintovilpistä
<% end %>

<p>
  Kurssilla seurataan Helsingin yliopiston opintokäytäntöjä. Plagiarismi ja opintovilppi, eli esimerkiksi netissä olevien tai kaverilta saatujen vastausten kopiointi ja niiden palauttaminen omana työnä on kurssilla kiellettyä. 
</p>

<p>
  Todettu opintovilppi johtaa kurssisuorituksen hylkäämiseen ja toistuva opintovilppi voi johtaa opinto-oikeuden määräaikaiseen menettämiseen.  Lue lisää osoitteesta <a href="http://blogs.helsinki.fi/alakopsaa/opiskelijalle/"  target="_blank" >http://blogs.helsinki.fi/alakopsaa/opiskelijalle/</a>.
</p>


<% partial 'partials/material_heading' do %>
  Kurssin työvälineet ja tunnukset
<% end %>

<p>
  Kurssille tarvitset TMC-tunnukset, NetBeans with TMC:n sekä SQLiten. Näiden lisäksi 
</p>

<ul>
  <li>
    Ohjeet TMC-tunnusten sekä NetBeans with TMC:n asentamiseen löytyy osoitteesta <a href="https://materiaalit.github.io/tmc-asennus/netbeans/"  target="_blank">https://materiaalit.github.io/tmc-asennus/netbeans/</a>.
  </li>
  <li>
    SQLite löytyy osoitteesta <a href="https://www.sqlite.org/" target="_blank">https://www.sqlite.org/</a>. Netistä löytyy iso lista oppaita SQLiten asentamiseen hakusanoilla "how to install sqlite" -- esimerkiksi osoitteessa <a href="http://www.sqlitetutorial.net/download-install-sqlite/" target="_blank">http://www.sqlitetutorial.net/download-install-sqlite/</a> oleva opas on ok Windowsin käyttäjille.
  </li>
</ul>

<p>
  Ohjelmointitehtävissä käytetään <a href="https://maven.apache.org/" target="_blank">Maven</a>ia ohjelmointiprojektien käyttämien kirjastojen hallintaan. Mavenin käyttöön on liittynyt muutamia haasteita, joihin liittyen tähän on lisätty korjausehdotuksia:
</p>


<% partial 'partials/material_sub_heading' do %>
  Maveniin liittyviä ongelmia ja ratkaisuja
<% end %>

<p>
  Mavenin käyttöönottoon on liittynyt kurssilla ongelmia. Tässä lyhyt ongelmanratkaisuopas.
</p>

<% partial 'partials/material_sub_sub_heading' do %>
  Linux ja Mac
<% end %>

<p>
  Ongelma: Maven-binäärin suoritusoikeudet puuttuvat. Mavenin virhe on (esimerkiksi) muotoa.
</p>

<pre>
Cannot run program
  /Applications/tmcbeans.app/Contents/Resources/tmcbeans/java/maven/bin/mvn"
  (in directory "/Users/[nimi]/NetBeansProjects/hy-[kurssi]/[tehtava]"):
  error=13,
  Permission denied
</pre>

<p>
  Ratkaisu: lisää maven-binäärille suoritusoikeudet. Suorita terminaalissa (pääte) komento.
</p>

<pre>
chmod +x /Applications/tmcbeans.app/Contents/Resources/tmcbeans/java/maven/bin/mvn
</pre>

<p>
  Huomaa, että edellä polku on sama kuin virheviestin "Cannot run program"-polku.
</p>

<% partial 'partials/material_sub_sub_heading' do %>
  Windows
<% end %>

<p>
  Ongelma: Ympäristömuuttuja <code>JAVA_HOME</code> ei ole asetettu. Käytännössä Maven yrittää etsiä Javaa, mutta ei löydä sitä.
</p>

<p>
  Ratkaisu: Lisää Windowsiin JAVA_HOME ympäristömuuttuja (esim.) osoitteessa <a href="https://confluence.atlassian.com/doc/setting-the-java_home-variable-in-windows-8895.html" target="_blank" norel>https://confluence.atlassian.com/doc/setting-the-java_home-variable-in-windows-8895.html</a> olevia ohjeita seuraamalla. Huomaa, että kansion tulee olla jdk, ei jre.
</p>

  


<% partial 'partials/material_heading' do %>
  Analytiikkadatan keräämisestä ja kurssilla tehtävästä tutkimuksesta
<% end %>

<% partial 'partials/material_sub_heading' do %>
  Analytiikkadatan kerääminen ja arvostelu
<% end %>

<p>
  Kurssin aikana tehdyistä tehtävistä kerätään tietoa. Kerätty tieto sisältää materiaalissa olevia kyselyitä, ohjelmointitehtävien vastauksia, sekä kurssimateriaalin käyttöä. Jos et hyväksy tiedon keräämistä, kurssin pisteytyksessä ei voida ottaa näitä suorituksia huomioon. Tallennettu tieto sisältää henkilökohtaisen tunnisteen, jonka perusteella ei voida suoraan päätellä henkilöllisyyttäsi. Tieto ei esimerkiksi siis sisällä nimeäsi tai sähköpostiosoitettasi. 
</p>

<p>
  Varmista että TMC:n asetuksissa (Valikko TMC -> Settings) kohdassa "Send snapshots of your progress for study" on ruksi. Jos et halua että työstämistäsi tehtävistä kerätään ajoittaista dataa kurssiarvostelua varten, kurssin tentissä on ylimääräinen ohjelmointiaiheinen tehtävä. Analytiikkadataa kerätään vain kurssiin liittyvistä asioista, ei muista tekemisistäsi.
</p>


<% partial 'partials/material_sub_heading' do %>
  Kurssilla tehtävästä tutkimuksesta
<% end %>

<p>
  Kurssilla tehdään oppimiseen liittyvää tutkimusta. Tällä tutkimuksella on useampia tavoitteita: (1) lähestyä tilannetta, missä oppimateriaali ja tehtävät osaavat ottaa oppijoiden yksilölliset erot paremmin huomioon ja reagoida niihin tarjoten kohdennetumpaa opetusta, (2) kehittää digitaalisissa ympäristöissä tapahtuvaan oppimiseen liittyvää ymmärrystä ja tietoa, sekä (3) tukea tutkimustiedon kautta muita oppimaterialien kehittäjiä ja oppimisen tutkijoita. Tutkimusdatan hallinnasta vastaa Helsingin yliopiston tietojenkäsittelytieteen laitoksen Agile Education Research -ryhmän Arto Hellas. Anonymisoimattomaan tutkimusdataan eivät pääse käsiksi muut tutkijat. Voit myös pyytää milloin tahansa sinusta kerätyn datan poistamista lähettämällä sähköpostin osoitteeseen arto.hellas@cs.helsinki.fi
</p>

<p>
  Työskentelystä kerättyä tietoa käytetään tutkimuksessa jos sallit. Tutkimuksemme päätavoitteena on osaamisen kehittymisen arviointi tekemisen arvioinnin sijaan, mikä mahdollistaisi yksilöllistä osaamista parhaiten kehittävien vinkkien ja tehtävien tarjoamisen. Tutkimustuloksista ei pystytä tunnistamaan yksittäisiä opiskelijoita. Jos et salli kurssin aikana kerättyjen tietojen käyttämistä tutkimuksessa, siitä ei tule minkäänlaisia seuraamuksia.
</p>

<p>
  Kurssilla saatetaan tehdä lisäksi tutkimusta, joka voi vaikuttaa kurssikokemukseen (esim. kurssisisältö). Jos osallistut tutkimukseen, saatat saada esimerkiksi uusia ominaisuuksia materiaaliin. Jos et halua osallistua tutkimukseen, saat kurssin sisällöstä perusversion. Tutkimukseen osallistuminen ei vaikuta loppuarvosanaan.
</p>


<%= partial 'partials/quiz', locals: { id: '5a5b5d0ea67e62000427b3ec' } %>


<% partial 'partials/material_heading' do %>
  Kurssimateriaalin tekijät ja lisenssi
<% end %>

<p>
  Kurssimateriaalin ovat tehneet Arto Hellas (né Vihavainen) ja Matti Luukkainen.
</p>

<p>
  Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida samanlaisella vapaalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty.
</p>


<p>
  <em>Linkit kurssin sisältöön löytyvät tämän materiaalin ylälaidasta. Kurssimateriaalia julkaistaan kurssin edetessä.</em>
</p>
