---
  title: Johdanto
---

<% partial 'partials/material_heading' do %>
  Yleistä kurssista
<% end %>

<p>
  Tämä materiaali on tarkoitettu Helsingin yliopiston tietojenkäsittelytieteen laitoksen kurssille tietokantojen perusteet (5 op). Kurssilla oletetaan, että osallistuja tuntee Helsingin yliopiston kurssien Ohjelmoinnin perusteet (5 op) ja Ohjelmoinnin jatkokurssi (5 op) sisällön.
</p>


<% partial 'partials/material_sub_heading' do %>
  Osaamistavoitteet ja kurssin sisältö
<% end %>

<p>
  TODO
</p>


<% partial 'partials/material_sub_heading' do %>
  Työskentelytavat ja aikataulu
<% end %>


<% partial 'partials/material_sub_sub_heading' do %>
  Tietojenkäsittelytieteen laitos, syksy 2017
<% end %>



<% partial 'partials/material_sub_sub_heading' do %>
  Avoin yliopisto, syksy 2017
<% end %>



<% partial 'partials/material_sub_sub_heading' do %>
  Kurssimateriaalin lukeminen
<% end %>

<p>
  Sulje pois häiriötekijät kun opiskelet. Häiriötekijöitä ovat esimerkiksi puhelinsovellukset, sosiaalisen median sivun, sähköpostiohjelmistot ym. Eräs hyvä tapa työskentelyn ajoittamiseen on <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank">Pomodoro-tekniikka</a>, missä (1) päätät seuraavan tavoitteesi tai tehtävän, (2) asetat kellon soimaan 25 minuutin kuluttua, (3) keskityt tavoitteeseesi kunnes kello soi. Jos saat hyvän ajatuksen tai idean, kirjoita se ylös, mutta älä lähde tekemään mitään siihen liittyvää. (4) Kun kello soi, lisää ruksi paperille. Jos rukseja on neljä, pidä pidempi tauko (esim. 30 minuuttia), vedä ne yli, ja aloita kohdasta 1. Jos rukseja on alle neljä, pidä lyhyempi tauko (n. 5 minuuttia). Voit käyttää esimerkiksi osoitteessa <a href="https://tomato-timer.com/" target="_blank">https://tomato-timer.com/</a> olevaa kelloa työsi ajastukseen.
</p>

<p>
  Kurssimateriaalia ei ole tarkoitettu vain kertaalleen luettavaksi. Joudut varmasti myöhemmin palaamaan jo aiemmin lukemiisi kohtiin tai aiemmin tekemiisi tehtäviin. Kurssimateriaali teksti ei sisällä kaikkea oleellista tietokantoihin liittyvää. Itse asiassa ei ole olemassa kirjaa josta löytyisi kaikki oleellinen. Joudut joka tapauksessa urallasi etsimään tietoa myös omatoimisesti. Kurssin harjoitukset sisältävät jo jonkun verran ohjeita, mistä suunnista ja miten hyödyllistä tietoa on mahdollista löytää.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Tehtävien tekeminen ja harjoitusryhmät
<% end %>

<p>
  Kurssilla on käytössä ohjelmointiympäristö Test My Code (asennusohjeet alempana), joka lataa tehtävät sekä antaa niistä automaattista palautetta. Normaalien ohjelmointitehtävien lisäksi kurssilla on myös pariohjelmointitehtäviä, joita tehdään Kumpulassa. Parit muodostetaan aina pariohjelmointitilaisuuksien alussa.
</p>


<% partial 'partials/material_sub_sub_heading' do %>
  Yhteistyö
<% end %>

<p>
  Hyvä yhteistyö keskittyy jokaisen osapuolen oppimiseen ja parantaa oppimistuloksia. Yhteistyö on kurssin tehtäviä pohtiessa sallittua ja suositeltavaa. 
</p>

<p>
  Kurssilla noudatetaan <a href="http://courses.cs.washington.edu/courses/cse100/99au/syllabus.htm#OTHER" target="_blank">Gilligan's Island -sääntöä</a>:
</p>

<p><em>

  <strong>The Gilligan's Island Rule</strong>: You are free to meet with fellow students(s) and discuss an assignment with them. Writing on a board or shared piece of paper during the meeting is acceptable; however, you should not take any written (electronic or otherwise) record away from the meeting. Everything that you derive from the collaboration should be in your head. After the meeting, engage in at least a half-hour of mind-numbing activity (like watching an episode of Gilligan's Island), before starting to work on the assignment. This will assure that you are able to reconstruct what you learned from the meeting by yourself.

</em></p>

<p>
  Jos teet tehtäviä yhdessä muiden kanssa, sinun tulee tehdä ja palauttaa omat ratkaisusi itse. Pidä yhteistyörupeaman jälkeen ainakin puolen tunnin tauko, jolloin teet jotain täysin muuta (esim. katsot jakson Gilligan's Islandia tai Salattuja elämiä), ja aloita omien tehtäviesi työstäminen vasta sitten. Kirjoita myös tehtävien palautuksen yhteyteen kommenteissa niiden kurssikavereidesi nimet, joiden kanssa teit yhteistyötä.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Opintovilpistä
<% end %>

<p>
  Kurssilla seurataan Helsingin yliopiston opintokäytäntöjä. Plagiarismi ja opintovilppi, eli esimerkiksi netissä olevien tai kaverilta saatujen vastausten kopiointi ja niiden palauttaminen omana työnä on kurssilla kiellettyä. 
</p>

<p>
  Todettu opintovilppi johtaa kurssisuorituksen hylkäämiseen ja toistuva opintovilppi voi johtaa opinto-oikeuden määräaikaiseen menettämiseen.  Lue lisää osoitteesta <a href="http://blogs.helsinki.fi/alakopsaa/opiskelijalle/"  target="_blank" >http://blogs.helsinki.fi/alakopsaa/opiskelijalle/</a>.
</p>

<%= partial 'partials/quiz', locals: { id: '587bc5f11b527d0004a7971c' } %>


<% partial 'partials/material_sub_sub_heading' do %>
  Tukiväylät
<% end %>

<p>
  Kurssien ensisijainen tukiväylä on Kumpulan kampuksella Exactumissa tapahtuva läsnäohjaus, johon myös MOOC-suorittajat ovat tervetulleita kysymään kurssiin liittyviä kysymyksiä.
</p>

<p>
  Verkon yli nopein tapa avun kysymiseen on kurssin keskustelukanava <code>#mooc.fi</code>, johon pääsee helpointen kanavan Matrix-huoneen kautta: <a href="https://riot.im/app/#/room/#mooc.fi:matrix.org"  target="_blank" rel="noopener">https://riot.im/app/#/room/#mooc.fi:matrix.org</a>. Jos et pidä modernista teknologiasta, voit myös liityä huoneeseen Ircnetin kautta seuraamalla näitä ohjeita: <a href="http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/" target="_blank" rel="noopener">http://mooc.fi/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/</a>.
</p>

<% partial 'partials/material_sub_heading' do %>
  Arvostelu
<% end %>

<p>
  TODO
</p>

<% partial 'partials/material_heading' do %>
  Tunnukset ja työvälineet
<% end %>



<% partial 'partials/material_sub_heading' do %>
  Käyttäjätunnuksen luominen
<% end %>

<p>
  Kurssilla tarvitaan käyttäjätunnus Test My Code (TMC) -järjestelmään, jota käytetään tehtävien automaattiseen arviointiin. Käyttäjätunnuksella voit myös kirjautua tähän materiaaliin, jolloin pääset vastaamaan materiaalissa oleviin kyselyihin.
</p>

<p>
  <strong>Huom!</strong> Jos olet Helsingin yliopiston opiskelija, aseta käyttäjätunnukseksesi opiskelijanumerosi. Näin opintopisteiden liittäminen kurssisuoritukseen helpottuu merkittävästi. Jos taas et ole Helsingin yliopiston opiskelija, keksi itsellesi sopiva käyttäjätunnus. Kun jatkossa kysymme TMC-tunnustasi, tarkoitamme sillä tätä käyttäjätunnusta.
</p>

<p>
  Käyttäjätunnuksen luominen onnistuu sivulla <a href="https://tmc.mooc.fi/user/new" target="_blank">https://tmc.mooc.fi/user/new</a>.
</p>

<p>
  Kun olet luonut käyttäjätunnuksen, voit kirjautua tähän materiaaliin materiaalin oikeassa ylälaidassa olevan "Kirjaudu sisään"-napin kautta.
</p>


<% partial 'partials/material_sub_heading' do %>
  Ohjelmointiympäristön asentaminen
<% end %>

<o>
  TODO: linkki ohjelmoinnin perusteiden ohjeisiin
</p>

<p>
  TODO: kurssin oma TMC-ympäristö
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Analytiikkadatan kerääminen ja arvostelu
<% end %>

<p>
  Varmista että TMC:n asetuksissa (Valikko TMC -> Settings) kohdassa "Send snapshots of your progress for study" on ruksi.  Jos olet opiskelijana Helsingin yliopistolla ja et halua että työstämistäsi tehtävistä kerätään ajoittaista dataa kurssiarvostelua varten, voit suorittaa kurssin Kumpulassa järjestettävällä erilliskokeella. Analytiikkadataa kerätään vain kurssiin liittyvistä harjoitustehtävistä, ei muista projekteistasi tai muualta koneeltasi.
</p>


<%= partial 'partials/quiz', locals: { id: '587bc4a71b527d0004a7971b' } %>




<% partial 'partials/material_sub_heading' do %>
  Kurssimateriaalin tekijät ja lisenssi
<% end %>

<p>
  Kurssimateriaalin ovat tehneet Arto Hellas (né Vihavainen) ja Matti Luukkainen.
</p>

<p>
  Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida samanlaisella vapaalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty.
</p>


<% partial 'partials/material_sub_heading' do %>
  Kurssilla tehtävästä tutkimuksesta
<% end %>


<p>
  Kurssilla tehdään oppimiseen liittyvää tutkimusta. Tällä tutkimuksella on useampia tavoitteita: (1) lähestyä tilannetta, missä oppimateriaali ja tehtävät osaavat ottaa oppijoiden yksilölliset erot paremmin huomioon ja reagoida niihin tarjoten kohdennetumpaa opetusta, (2) kehittää digitaalisissa ympäristöissä tapahtuvaan oppimiseen liittyvää ymmärrystä ja tietoa, sekä (3) tukea tutkimustiedon kautta muita oppimaterialien kehittäjiä ja oppimisen tutkijoita.
</p>

<p>
  Tutkimusdatan hallinnasta vastaa Helsingin yliopiston tietojenkäsittelytieteen laitoksen Agile Education Research -ryhmän Arto Hellas. Anonymisoimattomaan tutkimusdataan eivät pääse käsiksi muut tutkijat.
</p>


<%= partial 'partials/quiz', locals: { id: '5877e97fd095c40004e4b1a9' } %>





<% partial 'partials/hint', locals: { name: 'Sitten materiaaliin...' } do %>

  <p>
    Löydät tämän sivun ylälaidasta linkin "Osa 1", jolla pääset ensimmäiseen osaan käsiksi. Siirtyminen onnistuu myös <a href="/part1/">tästä</a> painamalla.
  </p>

<% end %>
