---
  title: Johdanto
---

<% partial 'partials/material_heading' do %>
  Yleistä kurssista
<% end %>

<p>
  Tämä materiaali on tarkoitettu Helsingin yliopiston tietojenkäsittelytieteen laitoksen syksyn 2018 kurssille Tietokantojen perusteet (TKT10004, 5 op). Kurssilla oletetaan, että osallistuja tuntee Helsingin yliopiston kurssien Ohjelmoinnin perusteet (TKT10002, 5 op) ja Ohjelmoinnin jatkokurssi (TKT10003, 5 op) sisällön. Kurssilla käytetään ohjelmointikielenä em. kursseilla opittua Java-kieltä.
</p>

<p>
  Tietokantojen perusteet -kurssilla tutustutaan tietokantojen suunnitteluun. Tämä kattaa ongelma-alueen (tai järjestelmän) tietosisällön mallintamisen (käsiteanalyysi, luokkakaaviot), tiedon esittämisen (luokkakaaviot, relaatiokaaviot), tiedon tallentamisen ja tiedon hakemisen (SQL-kieli). Kurssilla tutustutaan lisäksi tiedon tallentamiseen liittyvään lainsäädäntöön sekä henkilötietolakiin, tietokantojen historiaan, tietokantaa käyttävien sovellusten luomiseen sekä tietokannan toiminnan kannalta oleellisiin käsitteisiin kuten indeksit, transaktiot ja eheys. Kurssin pääpaino on relaatiotietokannoissa, mutta kurssilla tutustutaan pintapuolisesti myös muihin tietokantajärjestelmiin.
</p>

<p>
  <em>
    Alla kuvatut osaamistavoitteet päivittyvät kurssin edetessä..
  </em>
</p>

<table class="table">
  <tr>
    <th>
      Viikko
    </th>
    <th>
      Osaamistavoitteet
    </th>
  </tr>
  <tr>
    <td>
      Esitiedot
    </td>
    <td>
      Tuntee olio-ohjelmoinnin peruskäsitteet kurssien Ohjelmoinnin perusteet (TKT-10002) ja Ohjelmoinnin jatkokurssi (TKT-10003) laaajuudessa.
    </td>
  </tr>

  <tr>
    <td>
      1
    </td>
    <td>
      Tuntee käsitteet digitalisaatio, tietokannanhallintajärjestelmä ja tietokanta. Ymmärtää tietokantojen roolin digitalisaatiossa. Tuntee ongelmia, joita tietokannanhallintajärjestelmät pyrkivät ratkaisemaan. Ymmärtää että tietoa voidaan käsitellä ja esittää erilaisilla abstraktiotasoilla ja tuntee termeinä käsitteellisen abstraktiotason, rakenteellisen abstraktiotason sekä fyysisen abstraktiotason. Osaa määritellä luokkia ja yhteyksiä sisältävän UML-luokkakaavion. Osaa luoda luokkakaavion annetun ohjelman lähdekoodista ja osaa luoda annetussa luokkakaaviossa kuvatut luokat. Osaa käsitellä tietoa ohjelmallisesti. Tuntee käsiteanalyysin askeleet. Osaa luoda ongelma-alueen kuvauksesta luokkakaavion. 
    </td>
  </tr>
  
  <tr>
    <td>
      2
    </td>
    <td>
      Osaa luoda luokkakaaviosta relaatiokaavion ja osaa muuntaa luokkakaavion assosiaatiot tarvittaessa tietokannalle sopivampaan muotoon. Tuntee käsitteen oliokaavio. Tuntee käsitteet relaatio, relaatiomalli, pääavain ja viiteavain. Osaa luoda SQL-kielellä useampia tietokantatauluja sisältävän tietokannan, lisätä tietokantaan tietoa ja hakea tietokannasta tietoa. Tekee kyselyitä yhteen tietokantatauluun.
    </td>
  </tr>

  <tr>
    <td>
      3
    </td>
    <td>
      Osaa hakea useammasta tietokantataulusta tietoa JOIN-kyselyiden avulla. Osaa luoda ohjelman, joka kommunikoi tietokannanhallintajärjestelmän kanssa valmiin rajapinnan kautta. Osaa luoda ohjelman, joka hyödyntää useamman tietokantataulun sisältävää tietokantaa ja tuntee data access object (DAO) -suunnittelumallin. Osaa esittää tietoa JSON-kielellä. Osaa luoda web-sovelluksen, joka näyttää käyttäjälle tietokannasta haettua tietoa JSON-muodossa.
    </td>
  </tr>

  <tr>
    <td>
      4
    </td>
    <td>
      Osaa esittää tietoa XML ja HTML-kielellä. Osaa luoda yhtä tietokantataulua käyttävän ja muokkaavan web-sovelluksen, jota voi käyttää selaimella. Tuntee sekvenssikaaviot. Osaa luoda useampaa tietokantataulua käyttävän ja muokkaavan web-sovelluksen.
    </td>
  </tr>

  <tr>
    <td>
      5
    </td>
    <td>
      Osaa siirtää web-sovelluksen verkkoon, missä se on kaikkien nähtävillä. Tuntee käsitteen SQL-injektio. Tietää menetelmiä SQL-injektioon perustuvien hyökkäysten tekemiseen ja osaa toisaalta puolustautua niiltä. Tietää käsitteet tietokannan normalisointi ja tietokannan denormalisointi. Tuntee tietokannan normalisointiin liittyvät ensimmäisen, toisen ja kolmannen normaalimuodon. Osaa perustella noudattaako annettu tietokanta em. normaalimuotoja. 
    </td>
  </tr>

  <tr>
    <td>
      6
    </td>
    <td>
      Osaa tehdä yhteenvetokyselyitä SQL-kielellä. Osaa selvittää miten tietokannanhallintajärjestelmä hakee annetun SQL-kyselyn tuloksen. Tietää mitä indeksit ovat ja tietää milloin tietokantatauluun tulee määritellä indeksejä. Tuntee käsitteet tietokannan eheys ja tietokantatransaktio, ja tietää tilanteita milloin transaktioita kannattaa käyttää. Tietää tietokannanhallintajärjestelmältä vaadittuja ominaisuuksia, joita tarvitaan tietokantatransaktioiden toimintaan. Tuntee CAP-teoreeman ja tietää GDPR-lainsäädännön olemassaolon sekä ainakin muutamia siihen liittyviä säännöksiä.
    </td>
  </tr>

  <tr>
    <td>
      7
    </td>
    <td>
      Tietää joitakin kirjastoja yksinkertaisten SQL-kyselyiden automatisointiin ja osaa käyttää yhteenvetokyselyjä osana web-sovellusta. Tuntee pinnallisesti muutamia NoSQL- ja NewSQL-tietokantoja. 
    </td>
  </tr>
  
</table>


<% partial 'partials/material_heading' do %>
  Kurssin suorittaminen ja aikataulu
<% end %>

<p>
  Kurssiin kuuluu viikoittaisia tehtäviä, viikoittaiset harjoitusryhmät, ryhmätyö sekä tentti.
</p>

<p>
  Kurssin suorittaminen perustuu vahvasti itse- ja ryhmäopiskeluun. Opiskeluun kuuluu oleellisena osana viikoittaiset harjoitusryhmät, joihin ilmoittaudutaan WebOodin kautta. Harjoitusryhmissä käydään sekä viikon tehtäviä läpi että harjoitellaan oleellisimpia kurssin asioita. Kurssin ainoa luento on periantaina 7.9. klo 12:15-14:00 Kumpulan Exactumin salissa <strong>A111</strong>. 
</p>

<p>
  Harjoitusryhmät kokoontuvat Exactumin salissa B221 (mikroluokka).
</p>

<ul>
  <li>Keskiviikko 12-14, Arto Hellas</li>
  <li>Keskiviikko 14-16, Dan Lindholm</li>
  <li>Torstai 10-12, Harri Kähkönen</li>
  <li>Torstai 14-16, Terho Uotila</li>
  <li>Torstai 16-18, Dan Lindholm</li>
  <li>Perjantai 10-12, Harri Kähkönen</li>
</ul>

<p>
  <strong>
    Huom! Harjoitusryhmät kokoontuvat jo kurssin ensimmäisellä viikolla!
  </strong>
</p>

<p>
  Kurssin koe järjestetään verkkotenttinä kurssin Moodlessa koeviikolla. Kokeen jälkeen järjestetään muutamia uusintakokeita myöhemmin ilmoitettavina ajankohtina.
</p>


<% partial 'partials/material_sub_heading' do %>
  Arvostelu
<% end %>

<p>
  Kurssin arvostelu perustuu kurssikokeeseen, ennalta harjoitustilaisuuksia varten tehtäviin harjoitustehtäviin sekä ohjelmointitehtäviin, läsnä tehtäviin harjoitustehtäviin, harjoitustyöhön, sekä läsnäoloon harjoitustilaisuuksissa. Kurssin aktiviteeteista voi saada yhteensä 100 pistettä.
</p>

<p>
  Kurssin aktiviteeteista saatavat pisteet jakautuvat seuraavasti:
</p>

<table class="table">
  <tr>
    <th>
      Osa
    </th>
    <th>
      Pistemäärä (korkeintaan)
    </th>
  </tr>
  <tr>
    <td>
      Kurssikoe
    </td>
    <td>
      50 pistettä
    </td>
  </tr>
  <tr>
    <td>
      Viikoittain tehtävät harjoitus- ja ohjelmointitehtävät
    </td>
    <td>
      27 pistettä (4.5 pistettä / viikko, 6 viikkoa)
    </td>
  </tr>
  <tr>
    <td>
      Läsnäolo harjoitustilaisuuksissa
    </td>
    <td>
      7 pistettä (1 piste / viikko)
    </td>
  </tr>
  <tr>
    <td>
      Harjoitustyöt
    </td>
    <td>
      16 pistettä (8p + 8p)
    </td>
  </tr>
</table>

<p>
  Harjoitustehtävien arvostelu on lineaarista tehtyjen tehtävien suhteen. Esimerkiksi ensimmäisellä viikolla on kuusi tehtävää (kolme käsite- ja suunnittelutehtävää, kolme ohjelmointitehtävää), jolloin kyseiselle viikolle yhden tehtävän arvo on 0.75 pistettä. Kurssilla on lisäksi <strong>koeleikkuri</strong>, eli kurssin läpäisemiseksi tulee saada vähintään puolet kokeen pisteistä. Harjoitustilaisuudesta, johon on saapunut myöhässä, saa korkeintaan puolet läsnäolopisteistä.
</p>

<p>
  Kurssin arvosana muodostuu seuraavasti.
</p>

<table class="table">
  <tr>
    <th>
      Pisteet
    </th>
    <th>
      Arvosana
    </th>
  </tr>
  <tr>
    <td>
      < 51
    </td>
    <td>
      Hylätty
    </td>
  </tr>
  <tr>
    <td>
      51-60
    </td>
    <td>
      1
    </td>
  </tr>
  <tr>
    <td>
      61-70
    </td>
    <td>
      2
    </td>
  </tr>
  <tr>
    <td>
      71-80
    </td>
    <td>
      3
    </td>
  </tr>
  <tr>
    <td>
      81-90
    </td>
    <td>
      4
    </td>
  </tr>
  <tr>
    <td>
      91-100
    </td>
    <td>
      5
    </td>
  </tr>
</table>


<p>
  Kurssin voi halutessaan suorittaa myös erillistentillä, jolloin arvostelu perustuu vain tenttimenestykseen. Erillistentit sekä niihin ilmoittautuminen löytyy WebOodista.
</p>

<% partial 'partials/material_sub_heading' do %>
  Tehtävät
<% end %>

<p>
  Kurssin tehtäviä julkaistaan kurssin edetessä. Tehtävät tulee palauttaa viikoittain annettuun määräaikaan mennessä. Suunnittelu- ja käsitetehtävät palautetaan aina tiistaisin klo 23:59 mennessä. Ohjelmointitehtävät palautetaan perjantaisin klo 23:59 mennessä.
</p>

<p>
  Alla on kuvattuna tehtävien palautusaikataulu.
</p>


<table class="table">
  <tr>
    <th>
      Aihealue
    </th>
    <th>
      Suunnittelu- ja käsitetehtävät
    </th>
    <th>
      Ohjelmointitehtävät
    </th>
  </tr>
  <tr>
    <td>
      Osa 1
    </td>
    <td>
      11.9.2018 klo 23:59
    </td>
    <td>
      14.9.2018 klo 23:59
    </td>
  </tr>

  <tr>
    <td>
      Osa 2
    </td>
    <td>
      18.9.2018 klo 23:59
    </td>
    <td>
      21.9.2018 klo 23:59
    </td>
  </tr>

  <tr>
    <td>
      Osa 3
    </td>
    <td>
      25.9.2018 klo 23:59
    </td>
    <td>
      28.9.2018 klo 23:59
    </td>
  </tr>
  
  <tr>
    <td>
      Osa 4
    </td>
    <td>
      2.10.2018 klo 23:59
    </td>
    <td>
      5.10.2018 klo 23:59
    </td>
  </tr>

  <tr>
    <td>
      Osa 5
    </td>
    <td>
      9.10.2018 klo 23:59
    </td>
    <td>
      12.10.2018 klo 23:59
    </td>
  </tr>

  <tr>
    <td>
      Osa 6
    </td>
    <td>
      16.10.2018 klo 23:59
    </td>
    <td>
      19.10.2018 klo 23:59
    </td>
  </tr>

  <tr>
    <td>
      Osa 7
    </td>
    <td>
      23.10.2018 klo 23:59
    </td>
    <td>
      26.10.2018 klo 23:59
    </td>
  </tr>
  
</table>

<p>
  Huomaathan, että viimeiset palautusajat määritellään suomen ajassa olevan tehtäväpalvelimen kellon mukaan. Mikäli palautuksesi on myöhässä, sitä ei hyväksytä. Sähköpostitse tapahtuvia tehtäväpalautuksia ei hyväksytä.
</p>

<p>
  Seitsemännen osan suunnittelu- ja käsitetehtävät sekä ohjelmointitehtävät vaikuttavat arvosteluun bonuspisteinä. Niillä voi paikata esimerkiksi väliin jäänyttä viikkoa. 
</p>

<p>
  Suunnittelu- ja käsitetehtävät sekä harjoitustöiden dokumentaatiot palautetaan sähköisessä muodossa kurssin Moodleen osoitteessa <a href="https://moodle.helsinki.fi/course/view.php?id=29387" target="_blank">https://moodle.helsinki.fi/course/view.php?id=29387</a>. Moodlen kurssiavain on "tikape-s18".
</p>

<p>
  <strong>Tehtävänannot</strong>
</p>

<ul>
  <li>
    <a href="https://drive.google.com/open?id=1I_pGfuX-Lw6pwO9e7pEmOIAJsCdUW_mZIHKNi6nXdB4" target="_blank">
      Osan 1 suunnittelu- ja käsitetehtävät
    </a>
  </li>
  <li>
    <a href="https://drive.google.com/open?id=1qCRuT_fT34hI8cRRZhEdsTqWr8_ms8R5ObEnhtkitTk" target="_blank">
      Osan 2 suunnittelu- ja käsitetehtävät
    </a>
  </li>
  <li>
    <a href="https://drive.google.com/open?id=1_SpqUbrBhLcYWdEOYOgMv-b0QuGucugVXoyE6NfvyY4" target="_blank">
      Osan 3 suunnittelu- ja käsitetehtävät
    </a>
  </li>

  <li>
    <a href="https://drive.google.com/open?id=1tQLiKs5ItZlrSOMTqt-XmX7Z55vGCl-t2n0VuMtjzcQ" target="_blank">
      Osan 4 suunnittelu- ja käsitetehtävät
      </a>
  </li>
  
  <li>
    <a href="https://drive.google.com/open?id=1gJL9xpUiLSc4P9DcaH-nUHbicp5CZTqs--pVDLZNqA4" target="_blank">
      Osan 5 suunnittelu- ja käsitetehtävät
      </a>
  </li>

  <li>
    <a href="https://drive.google.com/open?id=1JC9Gqd7pE4DFHoq54JIcQZzvdRpIyILPaRDTTpDer7k" target="_blank">
      Osan 6 suunnittelu- ja käsitetehtävät</a>
  </li>

  <li>
    <a href="https://drive.google.com/open?id=1wguyrgLsfLfWTR2xmGXu4DFmPtxScJ1KEI1WJWtCSaU" target="_blank">
      Osan 7 suunnittelu- ja käsitetehtävät</a>
  </li>
  
</ul>

<p>
  Läsnätehtävät harjoitukset tehdään harjoitustilaisuuksissa ja niitä ei voi esimerkiksi palauttaa etänä. Läsnäolot kerätään harjoitustilaisuuksien aikana.
</p>

<ul>
  <li>
    <a href="https://drive.google.com/open?id=17uIbMByQm_YAadyc3HK2JwrINalrh0MwUdo1ipjFh4E" target="_blank">
      Ensimmäisen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://drive.google.com/open?id=1PyclPnykuQulgsfeGfq4VbG61LwF4LhpGgVxdcTQelA" target="_blank">
      Toisen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://drive.google.com/open?id=1f6XNuYYU15Cs56kiucy3Lxsyf_wpM1cjwsdN9-iFGYo" target="_blank">
      Kolmannen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://drive.google.com/open?id=1jGoc5921LkC91QoNxqiMM98zPu20bVlFRUlXxhEVJUs" target="_blank">
      Neljännen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://drive.google.com/open?id=1D_MvApVWz0zX1Z7SifMwJCZfdF-N2tYzMKtZF1BpNLY" target="_blank">
      Viidennen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://drive.google.com/open?id=10p2Rui1MXCcHgO11Sl1-z-In7S-ImJQJn6-L63IGlVs" target="_blank">Kuudennen viikon läsnä tehtävät tehtävät
    </a>
  </li>
  <li>
    <a href="https://drive.google.com/open?id=18y6vN9mHGiBMJhUypg0VF5elcBnW4wla7hl3y7nQ8es" target="_blank">Seitsemännen viikon läsnä tehtävät tehtävät
    </a>
  </li>
</ul>

<p>
  Ohjelmointitehtävien tehtävänannot löydät kurssimateriaalista aina kunkin osan kohdalta.
</p>

<% partial 'partials/material_sub_heading' do %>
  Harjoitustyö
<% end %>

<p>
  Kurssiin kuuluu kaksi hieman laajempaa harjoitustyötä. Ensimmäisessä harjoitellaan käsiteanalyysiä sekä tietokannan luomista annetusta aihealueesta. Toisessa toteutetaan hieman laajempi tietokantaa käyttävä web-sovellus, joka tulee verkkoon kaikkien nähtäville. Harjoitustöihin kuuluu myös muiden töiden vertaisarviointi.
</p>

<p>
Harjoitustyöt tulee palauttaa yksin, mutta niitä saa tehdä ryhmässä -- jokaisen tulee siis tehdä oma työ, mutta töitä saa ideoida ja työstää yhdessä. Ryhmäytyminen tapahtuu toisen viikon harjoitusryhmissä. Harjoitustöiden aikataulu on seuraava:
</p>

<ul>
  <li>
    Ensimmäinen harjoitustyö palautetaan 24.9. klo 23:59 mennessä. Ensimmäisen osan vertaisarviot tulee tehdä 1.10. mennessä. Tehtävänanto löytyy osoitteesta <a href="https://drive.google.com/open?id=1wdD0ogPj5n-bzRRUUHlYXMo2C8162FH2pl0LAdDxU5o" target="_blank">https://drive.google.com/open?id=1wdD0ogPj5n-bzRRUUHlYXMo2C8162FH2pl0LAdDxU5o</a>.
  </li>
  <li>
    Toinen harjoitustyö palautetaan 15.10. klo 23:59 mennessä. Toisen osan vertaisarviot tulee tehdä 22.10. mennessä. Tehtävänanto julkaistaan myöhemmin osoitteeseen <a href="https://drive.google.com/open?id=12DNi7aFUOOhU9_VVX6pFR4ljDhW-v6HkVUoef9ZTSbA" target="_blank">https://drive.google.com/open?id=12DNi7aFUOOhU9_VVX6pFR4ljDhW-v6HkVUoef9ZTSbA</a>.
  </li>
</ul>


<% partial 'partials/material_sub_heading' do %>
  Tukiväylät
<% end %>

<p>
  Kurssilla järjestetään harjoitustilaisuuksien viikoittainen pajatilaisuus tiistaisin klo 14-16 salissa B221. Pajaan saa tulla tekemään tehtäviä vaikkei kurssin tehtäviin liittyen olisikaan mitään kysyttävää. Näiden lisäksi kurssin Moodlessa voi kysyä apua tehtäviin. 
</p>

<p>
  Kurssilla on myös verkossa toimiva epävirallinen kurssikanava, jonka osallistujat ovat kurssin muita opiskelijoita. Telegram-kanavan nimi on <code>tkt-tikape</code>, ja siihen pääsee joko <a href="https://t.me/tkt-tikape" target="_blank">tämän linkin kautta</a> tai ylälaidassa olevaa Chat-nappia painamalla.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Yhteistyö
<% end %>

<p>
  Hyvä yhteistyö keskittyy jokaisen osapuolen oppimiseen ja parantaa oppimistuloksia. Yhteistyö on kurssin tehtäviä pohtiessa sallittua ja suositeltavaa. 
</p>

<p>
  Kurssilla noudatetaan <a href="http://courses.cs.washington.edu/courses/cse100/99au/syllabus.htm#OTHER" target="_blank">Gilligan's Island -sääntöä</a>:
</p>

<p><em>

  <strong>The Gilligan's Island Rule</strong>: You are free to meet with fellow students(s) and discuss an assignment with them. Writing on a board or shared piece of paper during the meeting is acceptable; however, you should not take any written (electronic or otherwise) record away from the meeting. Everything that you derive from the collaboration should be in your head. After the meeting, engage in at least a half-hour of mind-numbing activity (like watching an episode of Gilligan's Island), before starting to work on the assignment. This will assure that you are able to reconstruct what you learned from the meeting by yourself.

</em></p>

<p>
  Jos teet tehtäviä yhdessä muiden kanssa, sinun tulee tehdä ja palauttaa omat ratkaisusi itse. Pidä yhteistyörupeaman jälkeen ainakin puolen tunnin tauko, jolloin teet jotain täysin muuta (esim. katsot jakson Gilligan's Islandia tai Salattuja elämiä), ja aloita omien tehtäviesi työstäminen vasta sitten. Kirjoita myös tehtävien palautuksen yhteyteen kommenteissa niiden kurssikavereidesi nimet, joiden kanssa teit yhteistyötä.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Opintovilpistä
<% end %>

<p>
  Kurssilla seurataan Helsingin yliopiston opintokäytäntöjä. Plagiarismi ja opintovilppi, eli esimerkiksi netissä olevien tai kaverilta saatujen vastausten kopiointi ja niiden palauttaminen omana työnä on kurssilla kiellettyä. 
</p>

<p>
  Todettu opintovilppi johtaa kurssisuorituksen hylkäämiseen ja toistuva opintovilppi voi johtaa opinto-oikeuden määräaikaiseen menettämiseen.  Lue lisää osoitteesta <a href="http://blogs.helsinki.fi/alakopsaa/opiskelijalle/"  target="_blank" >http://blogs.helsinki.fi/alakopsaa/opiskelijalle/</a>.
</p>


<% partial 'partials/material_heading' do %>
  Kurssin työvälineet ja tunnukset
<% end %>

<p>
  Kurssille tarvitset TMC-tunnukset, NetBeans with TMC:n sekä SQLiten. Näiden lisäksi kurssilla tarvitaan myöhemmin <a href="https://github.com/" target="_blank">Github</a>-tunnusta, jonka lisäksi harjoitustyössä käytetään <a href="https://www.heroku.com/" target="_blank">Heroku</a>a.
</p>

<ul>
  <li>
    Ohjeet TMC-tunnusten sekä NetBeans with TMC:n asentamiseen löytyy osoitteesta <a href="https://materiaalit.github.io/tmc-asennus/netbeans/"  target="_blank">https://materiaalit.github.io/tmc-asennus/netbeans/</a>.
  </li>
  <li>
    SQLite löytyy osoitteesta <a href="https://www.sqlite.org/" target="_blank">https://www.sqlite.org/</a>. Netistä löytyy iso lista oppaita SQLiten asentamiseen hakusanoilla "how to install sqlite" -- esimerkiksi osoitteessa <a href="http://www.sqlitetutorial.net/download-install-sqlite/" target="_blank">http://www.sqlitetutorial.net/download-install-sqlite/</a> oleva opas on ok Windowsin käyttäjille.
  </li>
</ul>

<p>
  Ohjelmointitehtävissä käytetään <a href="https://maven.apache.org/" target="_blank">Maven</a>ia ohjelmointiprojektien käyttämien kirjastojen hallintaan. Mavenin käyttöön on liittynyt muutamia haasteita, joihin liittyen tähän on lisätty korjausehdotuksia:
</p>


<% partial 'partials/material_sub_heading' do %>
  Maveniin liittyviä ongelmia ja ratkaisuja
<% end %>

<p>
  Mavenin käyttöönottoon on liittynyt kurssilla ongelmia. Tässä lyhyt ongelmanratkaisuopas.
</p>

<% partial 'partials/material_sub_sub_heading' do %>
  Linux ja Mac
<% end %>

<p>
  Ongelma: Maven-binäärin suoritusoikeudet puuttuvat. Mavenin virhe on (esimerkiksi) muotoa.
</p>

<pre>
Cannot run program
  /Applications/tmcbeans.app/Contents/Resources/tmcbeans/java/maven/bin/mvn"
  (in directory "/Users/[nimi]/NetBeansProjects/hy-[kurssi]/[tehtava]"):
  error=13,
  Permission denied
</pre>

<p>
  Ratkaisu: lisää maven-binäärille suoritusoikeudet. Suorita terminaalissa (pääte) komento.
</p>

<pre>
chmod +x /Applications/tmcbeans.app/Contents/Resources/tmcbeans/java/maven/bin/mvn
</pre>

<p>
  Huomaa, että edellä polku on sama kuin virheviestin "Cannot run program"-polku.
</p>

<% partial 'partials/material_sub_sub_heading' do %>
  Windows
<% end %>

<p>
  Ongelma: Ympäristömuuttuja <code>JAVA_HOME</code> ei ole asetettu. Käytännössä Maven yrittää etsiä Javaa, mutta ei löydä sitä.
</p>

<p>
  Ratkaisu: Lisää Windowsiin JAVA_HOME ympäristömuuttuja (esim.) osoitteessa <a href="https://confluence.atlassian.com/doc/setting-the-java_home-variable-in-windows-8895.html" target="_blank" norel>https://confluence.atlassian.com/doc/setting-the-java_home-variable-in-windows-8895.html</a> olevia ohjeita seuraamalla. Huomaa, että kansion tulee olla jdk, ei jre.
</p>

  


<% partial 'partials/material_heading' do %>
  Analytiikkadatan keräämisestä ja kurssilla tehtävästä tutkimuksesta
<% end %>

<p>
  Kurssin aikana tehdyistä tehtävistä kerätään tietoa. Kerätty tieto sisältää materiaalissa olevia kyselyitä, ohjelmointitehtävien vastauksia, sekä kurssimateriaalin käyttöä. Tallennettu tieto sisältää henkilökohtaisen tunnisteen, jonka perusteella ei voida suoraan päätellä henkilöllisyyttäsi. Tieto ei esimerkiksi siis sisällä nimeäsi tai sähköpostiosoitettasi. 
</p>

<p>
  Kurssilla tehdään oppimiseen liittyvää tutkimusta. Tällä tutkimuksella on useampia tavoitteita: (1) lähestyä tilannetta, missä oppimateriaali ja tehtävät osaavat ottaa oppijoiden yksilölliset erot paremmin huomioon ja reagoida niihin tarjoten kohdennetumpaa opetusta, (2) kehittää digitaalisissa ympäristöissä tapahtuvaan oppimiseen liittyvää ymmärrystä ja tietoa, sekä (3) tukea tutkimustiedon kautta muita oppimaterialien kehittäjiä ja oppimisen tutkijoita. Tutkimusdatan hallinnasta vastaa Helsingin yliopiston tietojenkäsittelytieteen laitoksen Agile Education Research -ryhmän Arto Hellas. Anonymisoimattomaan tutkimusdataan eivät pääse käsiksi muut tutkijat. Voit myös pyytää milloin tahansa sinusta kerätyn datan poistamista lähettämällä sähköpostin osoitteeseen arto.hellas@cs.helsinki.fi
</p>

<p>
  Työskentelystä kerättyä tietoa käytetään tutkimuksessa jos sallit. Tutkimuksemme päätavoitteena on osaamisen kehittymisen arviointi tekemisen arvioinnin sijaan, mikä mahdollistaisi yksilöllistä osaamista parhaiten kehittävien vinkkien ja tehtävien tarjoamisen. Tutkimustuloksista ei pystytä tunnistamaan yksittäisiä opiskelijoita. Jos et salli kurssin aikana kerättyjen tietojen käyttämistä tutkimuksessa, siitä ei tule minkäänlaisia seuraamuksia.
</p>

<p>
  Kurssilla saatetaan tehdä lisäksi tutkimusta, joka voi vaikuttaa kurssikokemukseen (esim. kurssisisältö). Jos osallistut tutkimukseen, saatat saada esimerkiksi uusia ominaisuuksia materiaaliin. Jos et halua osallistua tutkimukseen, saat kurssin sisällöstä perusversion. Tutkimukseen osallistuminen ei vaikuta loppuarvosanaan.
</p>


<%= partial 'partials/quiz', locals: { id: '5a5b5d0ea67e62000427b3ec' } %>


<% partial 'partials/material_heading' do %>
  Kurssimateriaalin tekijät ja lisenssi
<% end %>

<p>
  Kurssimateriaalin ovat tehneet Arto Hellas (né Vihavainen) ja Matti Luukkainen.
</p>

<p>
  Tämä materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida samanlaisella vapaalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty.
</p>


<p>
  <em>Linkit kurssin sisältöön löytyvät tämän materiaalin ylälaidasta. Kurssimateriaalia julkaistaan kurssin edetessä.</em>
</p>
